h1{
    font-family:cursive;
    margin-left:400px;
    margin-top: 50px;
    color:rgb(43, 226, 211);
    font-size: 100px;
}
body{

    background-color: rgb(132, 0, 255);
}
.hello{
    text-align: center;
}
.hi{
    border-radius: 50px;
    cursor: pointer;
}
p{
    font-family:fantasy;
    color: rgb(43, 220, 226);
    font-size: 20px;
}
.text{
    text-align: center;
    margin-top: 50px;
    color: rgb(43, 220, 226);
}
